

.myLogo{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

header.backImage{
    background-image: url(../../images/header.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.backImage .container{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50% , -50%);
    -webkit-transform: translate( -50% , -50%);
    -moz-transform: translate( -50% , -50%);
    -ms-transform: translate( -50% , -50%);
    -o-transform: translate( -50% , -50%);
}
.myButton{
    margin-top: 30px;
    padding: 10px 40px;
    color: #fff;
    border: 1px solid chocolate;
}
.backImage-heading p{
    font-size: 23px;
}
.myCode{
    position: relative;
}
.myCode::after{
    content: "";
    height: 2px;
    opacity: 0;
    background-color: chartreuse;
    width: 100%;
    display: block;
    position: absolute;
}
.myCode:hover::after{
    opacity: 1;
    margin-right: 10px;
}
.col-3 p{
    font-size: 12px;
}

@media (max-width:800px){
    .nav-link{
        color: black !important;
    }
}

#contact{
    background-image: url(../../images/photos-backround.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#contact .form-textarea{
    height: 100% !important;
}

#contact .form-textarea  textarea{
    height: 91% !important;
}

#contact input{
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
}